@import "../../../sass/abstracts/variables";

.jumbotron {
  background-image: linear-gradient(
      to bottom,
      rgba(rgb(24, 24, 24), 0.85),
      rgba(rgb(108, 107, 107), 0.45)
    ),
    url("../../../assets/sample_beer_bg.jpg");
  background-size: cover;
  border-radius: 0;
  &img {
    background: inherit;
  }
  &-heading,
  p.lead {
    color: white;
    text-shadow: 2px 2px 5px black;
  }
}
